@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link{
    @apply m-2 p-1 border-4 transition-all duration-300 border-transparent hover:text-white hover:border-b-blue-700 cursor-pointer ;
}
.input-box{
    @apply w-full  p-1 rounded-md border-4 outline-none border-transparent border-b-blue-300;
}
body{
    background-image: url('/bg.avif');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.search-box input{
    width: 0;
    transition: all .6s;
}
.search-box:hover .search-input {
    width: 13rem;
}
